@model NotificationWebsite.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="container-row">
        <div class="notification-list">
            <div class="header-notification-list">
                <div class="search-container">
                    <input type="text" class="search-input poppins-light-italic" placeholder="Search...">
                </div>
                <button class="menu" onclick="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 30 30"
                        style="fill:#FFFFFF;">
                        <path
                            d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="scrollable-list-area">
                @if (Model.Notifications != null)
                {
                    foreach (var notification in Model.Notifications)
                    {
                        string header = notification.Header.Length >= 12 ? notification.Header.Substring(0, 12) + "..." :
                        notification.Header;
                        string status = notification.Status.ToLower();
                        <div class="notification-block"
                            onclick="showNotificationInfo('@notification.Status', '@notification.SocialNetwork', '@notification.Message', '@notification.Header', '@notification.Date')">
                            <div class="notification-status">
                                @switch (status)
                                {
                                    case "planned":
                                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="19" cy="19" r="19" fill="#EEE4B1" />
                                            <path
                                                d="M10.4697 18.4697C10.1768 18.7626 10.1768 19.2374 10.4697 19.5303L15.2427 24.3033C15.5355 24.5962 16.0104 24.5962 16.3033 24.3033C16.5962 24.0104 16.5962 23.5355 16.3033 23.2426L12.0607 19L16.3033 14.7574C16.5962 14.4645 16.5962 13.9896 16.3033 13.6967C16.0104 13.4038 15.5355 13.4038 15.2427 13.6967L10.4697 18.4697ZM27.3201 18.25L11 18.25V19.75L27.3201 19.75V18.25Z"
                                                fill="black" />
                                        </svg>
                                        break;
                                    case "sent":
                                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="19" cy="19" r="19" fill="#17B794" />
                                            <path d="M14.4399 18.9999L18.4399 23.1799L24.4399 14.4399" stroke="black" stroke-width="2"
                                                stroke-linejoin="round" />
                                        </svg>


                                        break;
                                    case "canceled":
                                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="19" cy="19" r="19" fill="#FF7C97" />
                                            <rect x="14" y="16.1211" width="3" height="12" rx="1.5" transform="rotate(-45 14 16.1211)"
                                                fill="black" />
                                            <rect x="22.4853" y="14" width="3" height="12" rx="1.5" transform="rotate(45 22.4853 14)"
                                                fill="black" />
                                        </svg>


                                        break;
                                }
                            </div>
                            <div class="notification-block-information">
                                <div class="notification-header poppins-bold-italic">@header</div>
                                <div class="notification-body ">@notification.Message</div>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="notification-blocks-empty poppins-bold-italic">
                        You don't have any notifications yet.
                    </div>
                }
            </div>
            <svg class="add-icon" width="50" height="50" viewBox="0 0 50 50" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50ZM22.7273 19.6021C22.7273 18.5038 23.6176 17.6134 24.7159 17.6134C25.8142 17.6134 26.7045 18.5038 26.7045 19.6021V23.2954H30.3977C31.496 23.2954 32.3863 24.1858 32.3863 25.284C32.3863 26.3823 31.496 27.2727 30.3977 27.2727H26.7045V30.9657C26.7045 32.064 25.8142 32.9543 24.7159 32.9543C23.6176 32.9543 22.7273 32.064 22.7273 30.9657V27.2727H19.0341C17.9358 27.2727 17.0454 26.3823 17.0454 25.284C17.0454 24.1858 17.9358 23.2954 19.0341 23.2954H22.7273V19.6021Z"
                    fill="white" />
            </svg>

        </div><div class="notification-information-bg">

        </div>

        <div id="modal-container" class="modal-container">
            <div id="modal" class="modal-add-notification">
                <div class="modal-left-content">
                    <div class="add-notification-header">
                        <h4 class="mg-t-5 modal-win-header poppins-semibold">Add<br>Notification</h4>
                        <svg class="add-animated-icon" width="30px" height="30px" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="19" cy="19" r="18" stroke="#EEEEEE" stroke-width="2" />
  <rect x="12.5" y="20" width="3" height="12" rx="1.5" transform="rotate(-90 12.5 20)" fill="#EEEEEE" />
                        <rect x="17.0002" y="12.5" width="3" height="12" rx="1.5" fill="#EEEEEE" /></svg>
                    </div>
                    <h8 class="mg-l-8 title-field poppins-bold">Title</h8>
                        <input id="title" type="text" class="mg-l-8 add-input-title poppins-medium-italic">
                    <h8 class="mg-l-8 title-field poppins-bold">Message</h8>
                        <textarea id="message" class="mg-l-8 add-ta-message poppins-medium-italic"></textarea>

                    <div class="choose-time">
                        <select id="hours" class="select poppins-light"></select>
                        <select id="minutes" class="select poppins-light"></select>
                        <select id="day-part" class="select poppins-light">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                    
                </div>



                <div class="modal-right-content">
                    <span class="close-modal-add-notification">&times;</span>
                    <div class="wrapper poppins-extralight">
                        <header>
                            <p class="current-date poppins-medium"></p>
                            <div class="icons">
                                <span id="prev" class="material-symbols-outlined">chevron_left</span>
                                <span id="next" class="material-symbols-outlined">chevron_right</span>
                            </div>
                        </header>
                        <div class="calendar">
                            <ul class="weeks poppins-light">
                                <li>Sun</li>
                                <li>Mon</li>
                                <li>Tue</li>
                                <li>Wed</li>
                                <li>Thu</li>
                                <li>Fri</li>
                                <li>Sat</li>
                            </ul>
                            <ul class="days"></ul>
                        </div>
                    </div>

                    <div class="choose-socials">
                        <div id="vk-item" name="vk" class="choose-item" onclick="Chosen('chosen-vk', 'vk-item')">
                            <svg class="choose-social-icon" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.1813 0H24.8385C35.4865 0 38 2.53333 38 13.1813V24.8385C38 35.4865 35.4667 38 24.8187 38H13.1615C2.51354 38 0 35.4667 0 24.8187V13.1615C0 2.53333 2.53333 0 13.1813 0Z" fill="#5181B8"/>
<mask id="mask0_3_49" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
<path d="M13.1813 0H24.8385C35.4865 0 38 2.53333 38 13.1813V24.8385C38 35.4865 35.4667 38 24.8187 38H13.1615C2.51354 38 0 35.4667 0 24.8187V13.1615C0 2.53333 2.53333 0 13.1813 0Z" fill="white"/>
</mask>
<g mask="url(#mask0_3_49)">
<path d="M-0.989594 -0.989563H38.9896V38.9896H-0.989594V-0.989563Z" fill="#5181B8"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M31.1125 13.0823C31.2907 12.4885 31.1125 12.0729 30.2813 12.0729H27.5105C26.798 12.0729 26.4813 12.4489 26.3032 12.8646C26.3032 12.8646 24.898 16.3083 22.899 18.525C22.2459 19.1781 21.9688 19.376 21.6125 19.376C21.4344 19.376 21.1771 19.1781 21.1771 18.5844V13.0823C21.1771 12.3698 20.9792 12.0729 20.3855 12.0729H16.0313C15.5959 12.0729 15.3188 12.4094 15.3188 12.7062C15.3188 13.3792 16.3084 13.5375 16.4271 15.3979V19.475C16.4271 20.3656 16.2688 20.5239 15.9125 20.5239C14.9823 20.5239 12.6865 17.0802 11.3407 13.1219C11.0636 12.3896 10.8063 12.0729 10.0938 12.0729H7.32296C6.53129 12.0729 6.37296 12.4489 6.37296 12.8646C6.37296 13.5969 7.30316 17.2385 10.7469 22.0479C13.0427 25.3333 16.2688 27.1146 19.198 27.1146C20.9594 27.1146 21.1771 26.7187 21.1771 26.0458V23.5521C21.1771 22.7604 21.3355 22.6021 21.9094 22.6021C22.325 22.6021 23.0177 22.8 24.6605 24.3833C26.5407 26.2635 26.8573 27.1146 27.9063 27.1146H30.6771C31.4688 27.1146 31.8646 26.7187 31.6271 25.9469C31.3698 25.175 30.4792 24.0469 29.2917 22.701C28.6386 21.9292 27.6688 21.1177 27.3917 20.7021C26.9761 20.1677 27.0948 19.9302 27.3917 19.475C27.3917 19.4552 30.7761 14.7052 31.1125 13.0823Z" fill="white"/>
                            </svg>
                            <svg id="chosen-vk" class="chosen-icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="6" cy="6" r="6" fill="#D9D9D9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82107 2.05309C8.49457 1.91188 8.11541 2.06208 7.9742 2.38858L5.70142 7.64361L4.09955 6.04174C3.84801 5.79021 3.44019 5.79021 3.18865 6.04174C2.93712 6.29328 2.93712 6.7011 3.18865 6.95264L5.31128 9.07527C5.33342 9.09741 5.35677 9.1176 5.38112 9.13584C5.44752 9.23392 5.54175 9.31486 5.65852 9.36537C5.98502 9.50658 6.36417 9.35637 6.50538 9.02987L9.15656 2.89995C9.29777 2.57345 9.14756 2.1943 8.82107 2.05309Z" fill="black"/>
                            </svg>
                        </div>
                        <div id="telegram-item" name="telegram" class="choose-item" onclick="Chosen('chosen-telegram', 'telegram-item')">
                            <svg class="choose-social-icon" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19 38C29.4934 38 38 29.4934 38 19C38 8.50659 29.4934 0 19 0C8.50659 0 0 8.50659 0 19C0 29.4934 8.50659 38 19 38Z" fill="url(#paint0_linear_0_1)"/>
<path d="M27.9815 10.6405C28.1529 9.54736 27.0999 8.68453 26.1151 9.11128L6.50162 17.6108C5.79544 17.9168 5.8471 18.9727 6.57952 19.2029L10.6243 20.4742C11.3963 20.7169 12.2322 20.5914 12.9063 20.1317L22.0256 13.9133C22.3006 13.7257 22.6004 14.1117 22.3654 14.3507L15.8011 21.0305C15.1644 21.6786 15.2907 22.7766 16.0567 23.2507L23.4061 27.7996C24.2304 28.3097 25.2908 27.7973 25.445 26.814L27.9815 10.6405Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear_0_1" x1="19" y1="0" x2="19" y2="38" gradientUnits="userSpaceOnUse">
<stop stop-color="#37BBFE"/>
<stop offset="1" stop-color="#007DBB"/>
</linearGradient>
</defs>
                            </svg>
                            <svg id="chosen-telegram" class="chosen-icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="6" cy="6" r="6" fill="#D9D9D9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82107 2.05309C8.49457 1.91188 8.11541 2.06208 7.9742 2.38858L5.70142 7.64361L4.09955 6.04174C3.84801 5.79021 3.44019 5.79021 3.18865 6.04174C2.93712 6.29328 2.93712 6.7011 3.18865 6.95264L5.31128 9.07527C5.33342 9.09741 5.35677 9.1176 5.38112 9.13584C5.44752 9.23392 5.54175 9.31486 5.65852 9.36537C5.98502 9.50658 6.36417 9.35637 6.50538 9.02987L9.15656 2.89995C9.29777 2.57345 9.14756 2.1943 8.82107 2.05309Z" fill="black"/>
                            </svg>
                        </div>
                        <div id="gmail-item" name="gmail" class="choose-item" onclick="Chosen('chosen-gmail', 'gmail-item')">
                            <svg class="choose-social-icon" width="34" height="32" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.1504 2.3356L16.9685 9.50132L7.57669 2.3356V2.33753L7.58804 2.34723V12.3811L16.8627 19.7017L26.1504 12.6638V2.3356Z" fill="#EA4335"/>
<path d="M28.5606 0.592566L26.1493 2.33556V12.6638L33.7368 6.83836V3.32906C33.7368 3.32906 32.8159 -1.68302 28.5606 0.592566Z" fill="#FBBC05"/>
<path d="M26.1493 12.6638V26.0597H31.9647C31.9647 26.0597 33.6197 25.8893 33.7387 24.003V6.83835L26.1493 12.6638Z" fill="#34A853"/>
<path d="M7.58847 26.0715V12.3812L7.57669 12.3715L7.58847 26.0715Z" fill="#C5221F"/>
<path d="M7.57625 2.33726L5.17817 0.603939C0.922912 -1.67165 0 3.33852 0 3.33852V6.8477L7.57625 12.3711V2.33726Z" fill="#C5221F"/>
<path d="M7.57669 2.33783V12.3718L7.58847 12.3814V2.34752L7.57669 2.33783Z" fill="#C5221F"/>
<path d="M0 6.85031V24.0149C0.11726 25.9033 1.77397 26.0718 1.77397 26.0718H7.58948L7.57625 12.3718L0 6.85031Z" fill="#4285F4"/>
                            </svg>
                            <svg id="chosen-gmail" class="chosen-icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6" cy="6" r="6" fill="#D9D9D9"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82107 2.05309C8.49457 1.91188 8.11541 2.06208 7.9742 2.38858L5.70142 7.64361L4.09955 6.04174C3.84801 5.79021 3.44019 5.79021 3.18865 6.04174C2.93712 6.29328 2.93712 6.7011 3.18865 6.95264L5.31128 9.07527C5.33342 9.09741 5.35677 9.1176 5.38112 9.13584C5.44752 9.23392 5.54175 9.31486 5.65852 9.36537C5.98502 9.50658 6.36417 9.35637 6.50538 9.02987L9.15656 2.89995C9.29777 2.57345 9.14756 2.1943 8.82107 2.05309Z" fill="black"/>
                            </svg>
                        </div>
                     </div>
                     <a onclick="CreateNewNotification()" class="modal-add-submit poppins-light">Add</a>
                </div>
            </div>
        </div>

        <div id="telegramModal" class="telegram-window">
            <div class="telegram-window-informtaion">
                <span class="close-telegram-window">&times;</span>
                <h3 class="poppins-medium mg-5" style="text-align: center;">
                    To receive notifications in telegram follow the steps:
                </h3>
                <ol class="poppins-light mg-10">
                    <li class="mg-5">Open link below.</li>
                    <li class="mg-5">Click "/start".</li>
                    <li class="mg-5">Send the bot your email address, that you used when registering on our website.</li>
                </ol>
                <a href="https://t.me/notificationWebsite_bot" class="telegram-bot-link poppins-light">Open bot</a>
            </div>
        </div>

</body>

</html>